    AuthName probind-OPERATOR
    require group dns
<FILES "addzone.php">
       AuthName probind-ADMIN
       require group dnsadm
</FILES>

<FILES "delzone.php">
       AuthName probind-ADMIN
       require group dnsadm
</FILES>

