    AuthName pribind-OPERATOR
    require group dns
<FILES "addzone.php">
       AuthName pribind-ADMIN
       require group dnsadm
</FILES>

<FILES "delzone.php">
       AuthName pribind-ADMIN
       require group dnsadm
</FILES>

