      AuthName probind-OPERATOR
      require  group read
<FILES "settings.php">
       AuthName probind-ADMIN
       require group dnsadm
</FILES>

<FILES "servers.php">
       AuthName pribind-ADMIN
       require group dnsadm
</FILES>

<FILES "bulkupdate.php">
       AuthName pribind-ADMIN
       require group dnsadm
</FILES>
